accessLog:
    bufferingSize: 100
    fields:
        defaultMode: drop
        headers:
            defaultMode: drop
            names:
                Authorization: redact
                Content-Type: keep
                Cookie: redact
                User-Agent: keep
                X-Forwarded-For: keep
                X-Forwarded-Proto: keep
                X-Real-Ip: keep
        names:
            ClientAddr: keep
            ClientHost: keep
            DownstreamContentSize: keep
            DownstreamStatus: keep
            Duration: keep
            RequestMethod: keep
            RequestAddr: keep
            RequestPath: keep
            RequestProtocol: keep
            RetryAttempts: keep
            ServiceName: keep
            StartUTC: keep
            TLSCipher: keep
            TLSVersion: keep
    filePath: /var/log/traefik/access.log
    filters:
        minDuration: 100ms
        retryAttempts: true
        statusCodes:
            - 200-299
            - 400-499
            - 500-599
    format: json
api:
    dashboard: true
    insecure: true
certificatesResolvers:
    letsencrypt:
        acme:
            caServer: https://acme-v02.api.letsencrypt.org/directory
            dnsChallenge:
                provider: cloudflare
            email: REPLACE_WITH_LETSENCRYPT_EMAIL
            storage: /letsencrypt/acme.json
entryPoints:
    web:
        address: :80
    websecure:
        address: :443
        asDefault: true
        http:
            tls:
                certResolver: letsencrypt
                options: tls-opts@file
            middlewares:
              - pangolin-geoblock@file
              - crowdsec@file
              - default-headers@file
              - middlewares-rate-limit@file
              - http-cache@file
              - middlewares-compress@file
              - middlewares-secure-headers@file
              - middlewares-buffering@file
#              - my-fail2ban@file
        http3:
            advertisedPort: 443
        transport:
            respondingTimeouts:
                readTimeout: 30m
        observability:
            accessLogs: true
            tracing: true
            metrics: true

experimental:
    plugins:
        badger:
            moduleName: github.com/fosrl/badger
            version: v1.2.1
        crowdsec-bouncer-traefik:
            moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
            version: v1.4.6
        fail2ban:
            moduleName: github.com/tomMoulard/fail2ban
            version: v0.8.9
        geoblock:
            moduleName: "github.com/david-garcia-garcia/traefik-geoblock"
            version: "v1.1.1"
            settings:
              useunsafe: true
        souin:
            moduleName: github.com/souin/traefik-souin
            version: v1.7.8

log:
    compress: true
    format: json
    level: INFO
    maxAge: 3
    maxBackups: 3
    maxSize: 100
    filePath: "/var/log/traefik/traefik.log"

ping:
    entryPoint: web
providers:
    file:
        directory: /rules
        watch: true
    http:
        endpoint: http://pangolin:3001/api/v1/traefik-config
        pollInterval: 5s
serversTransport:
    insecureSkipVerify: true
